<footer class="container">
    <div class="py-5 py-lg-6 text-center border-top mx-n3 mx-ssm-0">
        <p class="d-none d-md-block text-yellow-400">©Vivre 2024 All right Reserved</p>
        <small class="d-block d-md-none text-yellow-400">©Vivre 2024 All right Reserved</small>
    </div>
</footer>